<!DOCTYPE html>
<html>
<head>
    <title>Commodity List</title>
</head>
<body>
    <h1>Commodity Detail</h1>
    <ul>
            <li>
                <h2>{{ commodity.name }}</h2>
                <p>Month Sell: {{ commodity.month_sell }}</p>
                <!-- <img src="{{ commodity.photo_path.url }}" alt="{{ commodity.name }} Photo"> -->
                <p>Seller: {{ commodity.seller }}</p>
                <p>Followed Like: {{ commodity.rec_from_followed }}</p>
                <p>Friend Like: {{ commodity.rec_from_friend }}</p>
                {% for video in commodity.video.all %}
                    <li>
                        <video width="320" height="240" controls>
                            <source src="{{ video.path.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <p>{{ video.name }}</p>
                    </li>
                {% endfor %}
            </li>
    </ul>
</body>
</html>