<!DOCTYPE html>
<html>
<head>
    <title>Commodity List</title>
    <style>
        .commodity-photo {
            max-width: 300px; /* Set the maximum width */
            max-height: 200px; /* Set the maximum height */
        }
    </style>
</head>
<body>
    <h1>Commodity List</h1>
    <ul>
        {% for commodity in commodities %}
            <li>
                <!-- <h2>{{ commodity.name }}</h2> -->
                <a href="{{ commodity.get_absolute_url }}">
                    <img src="{{ commodity.photo.url }}" alt="{{ commodity.name }} Photo" class="commodity-photo">
                </a>
                <p>Month Sell: {{ commodity.month_sell }}</p>
                <p>Seller: {{ commodity.seller }}</p>
                <p>Followed Like: {{ commodity.rec_from_followed }}</p>
                <p>Friend Like: {{ commodity.rec_from_friend }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>


